.join-course-button {
    background-color: #22c55e;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.join-course-button:hover {
    background-color: #157539;
}
