.contactList {
    list-style: none;
    padding: 0;
    margin: 0 0 16px 0;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactItem {
    position: relative;
    margin-bottom: 16px;
}

.inputGroup {
    position: relative;
    padding-top: 8px;
    display: flex;
    gap: 12px;
    align-items: flex-start;
    max-width: 500px;
}

.input {
    padding: 8px 12px;
    border: 1px solid #bfc9d1;
    border-radius: 8px;
    font-size: 1rem;
    background: #f8fafc;
    box-sizing: border-box;
}

/* approach 輸入框 */
.input[placeholder="Type (e.g. email, phone)"] {
    width: 50%;
    /* 固定寬度 */
    flex-shrink: 0;
    /* 防止壓縮 */
}

/* details 輸入框 */
.input[placeholder="Details"] {
    width: 50%;
    /* 固定寬度 */
    flex-shrink: 0;
    /* 防止壓縮 */
}

.removeIcon {
    position: absolute;
    top: 18px;
    right: 0px;
    color: white;
    background-color: rgba(239, 68, 68, 0.6);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s ease;
    user-select: none;
    z-index: 1;
}

.removeIcon:hover {
    background-color: rgba(239, 68, 68, 0.8);
    transform: scale(1.1);
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    /* 讓按鈕分散對齊 */
    margin-top: 1%;
    max-width: 50%;

}

.saveBtn {
    background: #388e3c;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s;
    width: 20%;
    white-space: nowrap;
}

.saveBtn:hover {
    background: #2e7031;
}

.cancelBtn {
    background: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s;
    width: 20%;
    white-space: nowrap;
}

.cancelBtn:hover {
    background: #bdbdbd;
}

.addContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    width: 100%;
}

.addBtn {
    background: #1976d2;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background 0.2s;
    border-radius: 50%;
    text-align: center;
    /* vertical-align: middle; */
}

.addBtn:hover {
    background: #115293;
}