# for nodejs
node_modules
.env

# for Mac
.DS_Store
.idea

# for Windos WSL
*Zone.Identifier

# for Redis
dump.rdb

# Ignore all files in uploads
project/backend/uploads/**

# But keep the folder structure by keeping .gitkeep files
!project/backend/uploads/**/.gitkeep

# for custom
test.js
test.py

# for CI/CD
test-output.json
