# for nodejs
node_modules
.env

# for Mac
.DS_Store
.idea

# for Windos WSL
*Zone.Identifier

# for Redis
dump.rdb

# for uploaded files
project/backend/uploads/*
!project/backend/uploads/assignment/
!project/backend/uploads/assignment/.gitkeep
!project/backend/uploads/material/
!project/backend/uploads/material/.gitkeep

# for custom
test.js
test.py