.tagList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 8px;
}

.tagItem {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    height: 32px;
    flex: 0 0 auto;
    width: auto;
    max-width: fit-content;
}




.input {
    background: transparent;
    border: none;
    color: #000000;
    font-size: 14px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: inherit;
    width: auto;
    min-width: 60px;
    max-width: none;
}

.input::placeholder {
    /* background-color: rgba(14, 165, 233, 0.5); */
    color: rgba(255, 255, 255, 0.6);

}


.input::selection {
    background-color: rgba(255, 255, 255, 0.2);
    /* 半透明白色背景 */
    color: #000000;
}


.errorText {
    color: red;
    font-size: 12px;
    margin-left: 4px;
    margin-top: 4px;
    display: block;

}

.removeIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    cursor: pointer;
    font-size: 18px;
    padding-bottom: 2px;
    user-select: none;
    /* background-color: rgba(239, 68, 68, 0.6); */
    border-radius: 50%;
    color: #ef4444;
    transition: all 0.2s ease;
}

.removeIcon:hover {
    background-color: rgba(239, 68, 68, 0.8);
    color: #dc2626;
    transform: scale(1.1);
}

.removeIcon:active {
    transform: scale(0.95);

}

.addBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 32px;
    height: 32px;
    margin: auto 0 auto 4px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    user-select: none;
    background-color: rgba(14, 165, 233, 0.5);
    border-radius: 50%;
    transition: all 0.2s ease;
}


.addBtn::before {
    content: none;
}

.addBtn:hover {
    background-color: rgba(14, 165, 233, 0.7);
    transform: scale(1.1);
}

.addBtn:active {
    transform: scale(0.95);
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0;

}

.saveBtn,
.cancelBtn {
    margin: 0;
    /* 避免產生左右不一致 */
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.saveBtn {
    background-color: rgba(14, 165, 233, 0.5);
    color: white;
    border: none;
}

.saveBtn:hover {
    background-color: rgba(14, 165, 233, 0.7);
}

.cancelBtn {
    background-color: transparent;
    color: #666;
    border: 1px solid #ddd;
}

.cancelBtn:hover {
    background-color: #f5f5f5;
}

.hiddenSpan {
    position: absolute;
    visibility: hidden;
    white-space: pre;
    font-size: 14px;
    font-family: inherit;
    padding: 0;
    margin: 0;
    pointer-events: none;
}