.simple-grade-container {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.edit-button {
    position: absolute;
    top: 0vh;
    right: 1vw;

    display: flex;
    align-items: center;

    background-color: #f0f2f7;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 18px;
    font-weight: 500;
    gap: 6px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.2s ease;
}

.edit-button:hover {
    background-color: #e0e3ea;
}

.edit-icon {
    width: 18px;
    height: 18px;
}

.cancel-button {
    position: absolute;
    top: 0vh;
    right: 8vw;

    display: flex;
    align-items: center;

    background-color: #f0f2f7;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 18px;
    font-weight: 500;
    gap: 6px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.2s ease;
}

.cancel-button:hover {
    background-color: #e0e3ea;
}

.table-wrapper {
    width: 100%;
    overflow-x: overlay;
 
    padding-top: 5vh;
}

.grade-table {
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid; */
    font-size: 1rem;
    text-align: left;
    table-layout: auto;
    margin: auto;

    table-layout: fixed;
}

.header-row {
    background-color: #f2f2f2;
    padding: 0.75rem;
    border: 1px solid #ddd;
    font-weight: bold;
    
    word-wrap: break-word;
}

.content-row {
    background-color: #cfcfcf;
    border: 1px solid #ddd;
}

.value {
    padding: 0.75rem;
    border: 1px solid #ddd;

    width: 500px;
    word-wrap: break-word;
}

.input-field {
    padding: 0.75rem;
}

.summary-box {
    align-self: end;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 5vh;
    padding-right: 1.5vw;

    font-size: 23px;
    font-weight: bold;
}

.summary {
    padding-left: 5vw;
}

.separate-line {
    width: 95%;
    align-self: center;
    
    margin-top: 5vh;
    border: none;
    border-top: 1px solid;
}