.content {
    padding-left: 250px;
    padding-top: 1vh;
}

.category {
    display: inline;
    font-size: 5vh;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}