.content {
    padding-top: 2vh;
    padding-left: 1vw;

    height: 90vh;
    width: calc(99vw - 180px);
}

.category {
    display: block;
    padding-left: 2vw;
    font-size: 5vh;
}

.hr {
    display: block;
    height: 1px;
    width: 100vw - 250px;
    border: 0;
    border-top: 1px solid #666666;
    margin: 1em 0;
    padding: 0;

    z-index: 100;
}

.layout-flexbox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;

    background-color: rgba(218, 218, 218, 0.15);
    border-radius: 10px;
}


.loading {
    position: fixed;

    top: 50vh;
    left: 100vh;
}